@font-face {
  font-family: 'bigzami';
  src: url('../fonts/bigzami.eot?53562860');
  src: url('../fonts/bigzami.eot?53562860#iefix') format('embedded-opentype'),
       url('../fonts/bigzami.woff2?53562860') format('woff2'),
       url('../fonts/bigzami.woff?53562860') format('woff'),
       url('../fonts/bigzami.ttf?53562860') format('truetype'),
       url('../fonts/bigzami.svg?53562860#bigzami') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bigzami';
    src: url('../font/bigzami.svg?53562860#bigzami') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bigzami";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /* margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  /* line-height: 1em; */
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-add-bold:before { content: '\e800'; } /* '' */
.icon-add:before { content: '\e801'; } /* '' */
.icon-alarm:before { content: '\e802'; } /* '' */
.icon-arrow-down-1:before { content: '\e803'; } /* '' */
.icon-arrow-down-2:before { content: '\e804'; } /* '' */
.icon-arrow-down-3:before { content: '\e805'; } /* '' */
.icon-arrow-down-4:before { content: '\e806'; } /* '' */
.icon-arrow-end:before { content: '\e807'; } /* '' */
.icon-arrow-first:before { content: '\e808'; } /* '' */
.icon-arrow-left-1:before { content: '\e809'; } /* '' */
.icon-arrow-left-2:before { content: '\e80a'; } /* '' */
.icon-arrow-left-3:before { content: '\e80b'; } /* '' */
.icon-arrow-left-4:before { content: '\e80c'; } /* '' */
.icon-arrow-right-1:before { content: '\e80d'; } /* '' */
.icon-arrow-right-2:before { content: '\e80e'; } /* '' */
.icon-arrow-right-3:before { content: '\e80f'; } /* '' */
.icon-arrow-right-4:before { content: '\e810'; } /* '' */
.icon-arrow-up-1:before { content: '\e811'; } /* '' */
.icon-arrow-up-2:before { content: '\e812'; } /* '' */
.icon-arrow-up-3:before { content: '\e813'; } /* '' */
.icon-arrow-up-4:before { content: '\e814'; } /* '' */
.icon-arrow-updown:before { content: '\e815'; } /* '' */
.icon-arrows-shuffle:before { content: '\e816'; } /* '' */
.icon-attach:before { content: '\e817'; } /* '' */
.icon-bike:before { content: '\e818'; } /* '' */
.icon-block-arrow-down:before { content: '\e819'; } /* '' */
.icon-block-arrow-left:before { content: '\e81a'; } /* '' */
.icon-block-arrow-right:before { content: '\e81b'; } /* '' */
.icon-block-arrow-up:before { content: '\e81c'; } /* '' */
.icon-browser-search:before { content: '\e81d'; } /* '' */
.icon-browser-flowcahrt:before { content: '\e81e'; } /* '' */
.icon-calendar:before { content: '\e81f'; } /* '' */
.icon-call:before { content: '\e820'; } /* '' */
.icon-camera:before { content: '\e821'; } /* '' */
.icon-card:before { content: '\e822'; } /* '' */
.icon-check:before { content: '\e823'; } /* '' */
.icon-circle-check:before { content: '\e824'; } /* '' */
.icon-clipboard:before { content: '\e825'; } /* '' */
.icon-close-circle:before { content: '\e826'; } /* '' */
.icon-close:before { content: '\e827'; } /* '' */
.icon-code:before { content: '\e828'; } /* '' */
.icon-colse-thick:before { content: '\e829'; } /* '' */
.icon-comment:before { content: '\e82a'; } /* '' */
.icon-contents-list-box:before { content: '\e82b'; } /* '' */
.icon-cut:before { content: '\e82c'; } /* '' */
.icon-dashboard-list:before { content: '\e82d'; } /* '' */
.icon-delete_trash:before { content: '\e82e'; } /* '' */
.icon-document-edit:before { content: '\e82f'; } /* '' */
.icon-document-list:before { content: '\e830'; } /* '' */
.icon-document-open:before { content: '\e831'; } /* '' */
.icon-document-arrow-right-1:before { content: '\e832'; } /* '' */
.icon-dots:before { content: '\e833'; } /* '' */
.icon-double-arrow-left:before { content: '\e834'; } /* '' */
.icon-double-arrow-right:before { content: '\e835'; } /* '' */
.icon-double-check:before { content: '\e836'; } /* '' */
.icon-download:before { content: '\e837'; } /* '' */
.icon-drop-down-1:before { content: '\e838'; } /* '' */
.icon-equal:before { content: '\e839'; } /* '' */
.icon-etc-1-1:before { content: '\e83a'; } /* '' */
.icon-etc-1-2:before { content: '\e83b'; } /* '' */
.icon-etc-1-3:before { content: '\e83c'; } /* '' */
.icon-etc-1:before { content: '\e83d'; } /* '' */
.icon-etc-2-1:before { content: '\e83e'; } /* '' */
.icon-etc-2-2:before { content: '\e83f'; } /* '' */
.icon-etc-2-3:before { content: '\e840'; } /* '' */
.icon-etc-2-4:before { content: '\e841'; } /* '' */
.icon-etc-2-5:before { content: '\e842'; } /* '' */
.icon-etc-2-6:before { content: '\e843'; } /* '' */
.icon-etc-2-7:before { content: '\e844'; } /* '' */
.icon-etc-2-8:before { content: '\e845'; } /* '' */
.icon-etc-2-9:before { content: '\e846'; } /* '' */
.icon-etc-2-10:before { content: '\e847'; } /* '' */
.icon-etc-2:before { content: '\e848'; } /* '' */
.icon-etc-3-1:before { content: '\e849'; } /* '' */
.icon-etc-3-2:before { content: '\e84a'; } /* '' */
.icon-etc-3-3:before { content: '\e84b'; } /* '' */
.icon-etc-3-4:before { content: '\e84c'; } /* '' */
.icon-etc-3-5:before { content: '\e84d'; } /* '' */
.icon-etc-3-6:before { content: '\e84e'; } /* '' */
.icon-etc-3-7:before { content: '\e84f'; } /* '' */
.icon-etc-3-8:before { content: '\e850'; } /* '' */
.icon-etc-3-9:before { content: '\e851'; } /* '' */
.icon-etc-3-10:before { content: '\e852'; } /* '' */
.icon-etc-3-11:before { content: '\e853'; } /* '' */
.icon-etc-3:before { content: '\e854'; } /* '' */
.icon-etc-4-1:before { content: '\e855'; } /* '' */
.icon-etc-4-2:before { content: '\e856'; } /* '' */
.icon-etc-4-3:before { content: '\e857'; } /* '' */
.icon-etc-4-4:before { content: '\e858'; } /* '' */
.icon-etc-4-5:before { content: '\e859'; } /* '' */
.icon-etc-4-6:before { content: '\e85a'; } /* '' */
.icon-etc-4-7:before { content: '\e85b'; } /* '' */
.icon-etc-4-8:before { content: '\e85c'; } /* '' */
.icon-etc-4-9:before { content: '\e85d'; } /* '' */
.icon-etc-4:before { content: '\e85e'; } /* '' */
.icon-expand-horizontal:before { content: '\e85f'; } /* '' */
.icon-expand-vertical:before { content: '\e860'; } /* '' */
.icon-facebook:before { content: '\e861'; } /* '' */
.icon-file-blank:before { content: '\e862'; } /* '' */
.icon-file-solid:before { content: '\e863'; } /* '' */
.icon-flag:before { content: '\e864'; } /* '' */
.icon-folder:before { content: '\e865'; } /* '' */
.icon-gift:before { content: '\e866'; } /* '' */
.icon-graph-box:before { content: '\e867'; } /* '' */
.icon-graph:before { content: '\e868'; } /* '' */
.icon-grid:before { content: '\e869'; } /* '' */
.icon-heart:before { content: '\e86a'; } /* '' */
.icon-home:before { content: '\e86b'; } /* '' */
.icon-image-1:before { content: '\e86c'; } /* '' */
.icon-image:before { content: '\e86d'; } /* '' */
.icon-import-template:before { content: '\e86e'; } /* '' */
.icon-important-round:before { content: '\e86f'; } /* '' */
.icon-important:before { content: '\e870'; } /* '' */
.icon-instagram:before { content: '\e871'; } /* '' */
.icon-layer:before { content: '\e872'; } /* '' */
.icon-link:before { content: '\e873'; } /* '' */
.icon-list:before { content: '\e874'; } /* '' */
.icon-lock:before { content: '\e875'; } /* '' */
.icon-login:before { content: '\e876'; } /* '' */
.icon-logout:before { content: '\e877'; } /* '' */
.icon-loop:before { content: '\e878'; } /* '' */
.icon-mail:before { content: '\e879'; } /* '' */
.icon-man:before { content: '\e87a'; } /* '' */
.icon-map-pin:before { content: '\e87b'; } /* '' */
.icon-menu-1-1:before { content: '\e87c'; } /* '' */
.icon-menu-1-2:before { content: '\e87d'; } /* '' */
.icon-menu-1-3:before { content: '\e87e'; } /* '' */
.icon-menu-1:before { content: '\e87f'; } /* '' */
.icon-menu-2-1:before { content: '\e880'; } /* '' */
.icon-menu-2-2:before { content: '\e881'; } /* '' */
.icon-menu-2-3:before { content: '\e882'; } /* '' */
.icon-menu-2-4:before { content: '\e883'; } /* '' */
.icon-menu-2-5:before { content: '\e884'; } /* '' */
.icon-menu-2-6:before { content: '\e885'; } /* '' */
.icon-menu-2-7:before { content: '\e886'; } /* '' */
.icon-menu-2-8:before { content: '\e887'; } /* '' */
.icon-menu-2-9:before { content: '\e888'; } /* '' */
.icon-menu-2-10:before { content: '\e889'; } /* '' */
.icon-menu-2-11:before { content: '\e88a'; } /* '' */
.icon-menu-2:before { content: '\e88b'; } /* '' */
.icon-menu-3-1:before { content: '\e88c'; } /* '' */
.icon-menu-3-2:before { content: '\e88d'; } /* '' */
.icon-menu-3-3:before { content: '\e88e'; } /* '' */
.icon-menu-3-4:before { content: '\e88f'; } /* '' */
.icon-menu-3-5:before { content: '\e890'; } /* '' */
.icon-menu-3-6:before { content: '\e891'; } /* '' */
.icon-menu-3-7:before { content: '\e892'; } /* '' */
.icon-menu-3-8:before { content: '\e893'; } /* '' */
.icon-menu-3-9:before { content: '\e894'; } /* '' */
.icon-menu-3-10:before { content: '\e895'; } /* '' */
.icon-menu-3-11:before { content: '\e896'; } /* '' */
.icon-menu-3-12:before { content: '\e897'; } /* '' */
.icon-menu-3-13:before { content: '\e898'; } /* '' */
.icon-menu-3-14:before { content: '\e899'; } /* '' */
.icon-menu-3-15:before { content: '\e89a'; } /* '' */
.icon-menu-3-16:before { content: '\e89b'; } /* '' */
.icon-menu-3-17:before { content: '\e89c'; } /* '' */
.icon-menu-3-18:before { content: '\e89d'; } /* '' */
.icon-menu-3-19:before { content: '\e89e'; } /* '' */
.icon-menu-3:before { content: '\e89f'; } /* '' */
.icon-menu-4-1:before { content: '\e8a0'; } /* '' */
.icon-menu-4-2:before { content: '\e8a1'; } /* '' */
.icon-menu-4-3:before { content: '\e8a2'; } /* '' */
.icon-menu-4-4:before { content: '\e8a3'; } /* '' */
.icon-menu-4-5:before { content: '\e8a4'; } /* '' */
.icon-menu-4-6:before { content: '\e8a5'; } /* '' */
.icon-menu-4-7:before { content: '\e8a6'; } /* '' */
.icon-menu-4-8:before { content: '\e8a7'; } /* '' */
.icon-menu-4-9:before { content: '\e8a8'; } /* '' */
.icon-menu-4-10:before { content: '\e8a9'; } /* '' */
.icon-menu-4-11:before { content: '\e8aa'; } /* '' */
.icon-menu-4-12:before { content: '\e8ab'; } /* '' */
.icon-menu-4-13:before { content: '\e8ac'; } /* '' */
.icon-menu-4-14:before { content: '\e8ad'; } /* '' */
.icon-menu-4-15:before { content: '\e8ae'; } /* '' */
.icon-menu-4-16:before { content: '\e8af'; } /* '' */
.icon-menu-4-17:before { content: '\e8b0'; } /* '' */
.icon-menu-4-18:before { content: '\e8b1'; } /* '' */
.icon-menu-4-19:before { content: '\e8b2'; } /* '' */
.icon-menu-4-20:before { content: '\e8b3'; } /* '' */
.icon-menu-4-21:before { content: '\e8b4'; } /* '' */
.icon-menu-4-22:before { content: '\e8b5'; } /* '' */
.icon-menu-4-23:before { content: '\e8b6'; } /* '' */
.icon-menu-4-24:before { content: '\e8b7'; } /* '' */
.icon-menu-4-25:before { content: '\e8b8'; } /* '' */
.icon-menu-4-26:before { content: '\e8b9'; } /* '' */
.icon-menu-4-27:before { content: '\e8ba'; } /* '' */
.icon-menu-4-28:before { content: '\e8bb'; } /* '' */
.icon-menu-4-29:before { content: '\e8bc'; } /* '' */
.icon-menu-4:before { content: '\e8bd'; } /* '' */
.icon-menu-list:before { content: '\e8be'; } /* '' */
.icon-merge:before { content: '\e8bf'; } /* '' */
.icon-mic:before { content: '\e8c0'; } /* '' */
.icon-minus-circle:before { content: '\e8c1'; } /* '' */
.icon-move:before { content: '\e8c2'; } /* '' */
.icon-music:before { content: '\e8c3'; } /* '' */
.icon-new-doc:before { content: '\e8c4'; } /* '' */
.icon-new-file:before { content: '\e8c5'; } /* '' */
.icon-notification:before { content: '\e8c6'; } /* '' */
.icon-page-search:before { content: '\e8c7'; } /* '' */
.icon-pen:before { content: '\e8c8'; } /* '' */
.icon-people:before { content: '\e8c9'; } /* '' */
.icon-pin:before { content: '\e8ca'; } /* '' */
.icon-play-next:before { content: '\e8cb'; } /* '' */
.icon-play-previous:before { content: '\e8cc'; } /* '' */
.icon-play-round:before { content: '\e8cd'; } /* '' */
.icon-play:before { content: '\e8ce'; } /* '' */
.icon-playlist:before { content: '\e8cf'; } /* '' */
.icon-plus-circle:before { content: '\e8d0'; } /* '' */
.icon-print:before { content: '\e8d1'; } /* '' */
.icon-question:before { content: '\e8d2'; } /* '' */
.icon-quote:before { content: '\e8d3'; } /* '' */
.icon-refresh-1:before { content: '\e8d4'; } /* '' */
.icon-refresh:before { content: '\e8d5'; } /* '' */
.icon-remove-bold:before { content: '\e8d6'; } /* '' */
.icon-remove:before { content: '\e8d7'; } /* '' */
.icon-report:before { content: '\e8d8'; } /* '' */
.icon-save-1:before { content: '\e8d9'; } /* '' */
.icon-save-disk:before { content: '\e8da'; } /* '' */
.icon-save:before { content: '\e8db'; } /* '' */
.icon-scale-out:before { content: '\e8dc'; } /* '' */
.icon-scale:before { content: '\e8dd'; } /* '' */
.icon-search-1:before { content: '\e8de'; } /* '' */
.icon-search-detail:before { content: '\e8df'; } /* '' */
.icon-search:before { content: '\e8e0'; } /* '' */
.icon-send:before { content: '\e8e1'; } /* '' */
.icon-separate:before { content: '\e8e2'; } /* '' */
.icon-settings:before { content: '\e8e3'; } /* '' */
.icon-share:before { content: '\e8e4'; } /* '' */
.icon-smile:before { content: '\e8e5'; } /* '' */
.icon-star-filled:before { content: '\e8e6'; } /* '' */
.icon-star:before { content: '\e8e7'; } /* '' */
.icon-tag:before { content: '\e8e8'; } /* '' */
.icon-time:before { content: '\e8e9'; } /* '' */
.icon-transport:before { content: '\e8ea'; } /* '' */
.icon-trash-filled:before { content: '\e8eb'; } /* '' */
.icon-trash-line:before { content: '\e8ec'; } /* '' */
.icon-tv:before { content: '\e8ed'; } /* '' */
.icon-twitter:before { content: '\e8ee'; } /* '' */
.icon-undo:before { content: '\e8ef'; } /* '' */
.icon-user-line:before { content: '\e8f0'; } /* '' */
.icon-user:before { content: '\e8f1'; } /* '' */
.icon-video-1:before { content: '\e8f2'; } /* '' */
.icon-video:before { content: '\e8f3'; } /* '' */
.icon-visibility:before { content: '\e8f4'; } /* '' */
.icon-volume:before { content: '\e8f5'; } /* '' */
.icon-wallet:before { content: '\e8f6'; } /* '' */
.icon-write:before { content: '\e8f7'; } /* '' */