html { font-size: 1rem; }
body { font-family: 'notokr', sans-serif; font-style: normal; font-weight: 300; color: #6C6C6C; font-size: 14px; padding-top: 54px; overflow-y: hidden; background-color: #E0E4E6; letter-spacing: -1px; } /* 20190910 overflow: hidden; */

.container { min-width: 1440px; max-width: none; }

.area-left { max-width: 220px; }
.area-right { max-width: 350px; }


/* #contents { height: calc(100vh - 54px); overflow-y: auto; } 20190910 추가 */

#contents .area-left { background-color: #FFFFFF; border-right: 1px solid #A9B2B7; }
#contents .area-right { background-color: #FFFFFF; border-left: 1px solid #A9B2B7; }

/* #contents .area-contents { min-height: calc(100vh - 86px); } 20190910 height: 100%; padding-bottom: 200px; */
#contents .area-contents.filePage { min-height: calc(100vh - 54px); } /* 20190910 추가 */

.height-100vh { height: calc(100vh - 150px);  } /* min-height: 800px; */
.height-100vh-title { height: calc(100vh - 190px);  } /* min-height: 800px; */
/* 20190910 주석처리  .height-100 { height: 100%; } */

/* ******************************************  TopBar Menu ****************************************** */
.topBar { height: 54px; color: #ffffff; padding: 9px 0; background-color: #ffffff; border-bottom: solid 1px #A9B2B7; }

.navbar-brand {  width: 205px; padding: 0; border-right: 2px solid #A9B2B7; }
.navbar-brand img { display: block; width: 120px; margin: 0 auto; }

.topBarTitle { float: left; font-size: 20px; color: #373737; font-weight: 500; margin-top: 2px; margin-left: 30px; letter-spacing: -1px; }
.topBarButton { float: right; padding: 0 30px; margin-right: -16px; border-right: 2px solid #A9B2B7; border-left: 2px solid #A9B2B7; }
.topBarButton li { margin-right: 15px; }
.topBarButton li:last-child { margin-right: 0; }

.logArea { float: left; padding-left: 15px; }
.logArea img { width: 34px; height: 34px; }
.logArea .logInfo { position:relative; top: -3px; padding-left: 10px; }
.logArea .logInfo p { font-size: 16px; font-weight: 500; color: #373737; margin-bottom: 0; letter-spacing: -1px; }
.logArea .logInfo span { position:relative; top: -4px; font-size: 12px; color: #6C6C6C; letter-spacing: -0.7px; }
.logButton { float: right; padding-left: 30px; border-left: solid 2px #A9B2B7; }
.logButton li { margin-right: 15px; }

/* ****************************************** Main Contents Menu 20190812 수정 ****************************************** */
.contents-menu { display: block; height: 54px; padding-top: 15px; padding-left: 46px; padding-right: 30px; background-color: #FFFFFF; border-bottom: solid 1px #A9B2B7; }

.contents-menu-left { float: left; }
.contents-menu-left li { margin-right: 34px; }
.contents-menu-left li a:hover, .contents-menu-left li a:focus, .contents-menu-left li a.active { padding-bottom: 15px; border-bottom: 4px solid #4177A4; }

.contents-menu-right { float: right; }
.contents-menu-right li .line { padding-right: 16px; margin-right: 16px; border-right: 2px solid #A9B2B7; }
.contents-menu-right i { position:relative; top: -6px; font-size: 22px; }

/* ****************************************** Contents Tab Menu ****************************************** */
#manu-tab .nav-link { padding: 4px 10px; }
#manu-tab.nav-tabs { border-bottom: 1px solid #A9B2B7; background-color: #D5DADD; }
#manu-tab.nav-tabs .nav-link { font-size: 14px; color: #828D99; border-right: 1px solid #A9B2B7; border-top-left-radius: 0; border-top-right-radius: 0; }
#manu-tab.nav-tabs .nav-link:hover,
#manu-tab.nav-tabs .nav-link:focus { border-color: transparent; border-right: 1px solid #A9B2B7; }
#manu-tab.nav-tabs .nav-link.active,
#manu-tab.nav-tabs .nav-item.show .nav-link { color: #4177A4; background-color: #fff; border-color: transparent; border-right: 1px solid #A9B2B7; border-bottom: 1px solid #A9B2B7; }

#manu-tab .nav-link .close { position: relative; top: -4px; float: left; height:26px; font-size: 22px; color: #828D99; opacity: 1; z-index: 10; }
#manu-tab .nav-link .close:hover { opacity: .5; }
#manu-tab .nav-link.active .close,
#manu-tab .nav-item.show .close { color: #4177A4; }

/* ****************************************** sideMenu ****************************************** */
/* 왼쪽 메뉴 펼침버튼 */
.sideMenuAccordion .btn { width: 100%; height: 46px; font-size: 14px; color: #304156; font-weight: 500; letter-spacing: -1px; padding: 8px 14px; border-bottom: solid 1px #A9B2B7; border-radius: 0; }
.sideMenuAccordion i { float: right; font-size: 20px; color: #373737; margin-top: -4px; }
.sideMenuAccordion .btn:hover i { color: #4177A4 !important; }

/* 왼쪽 메인 메뉴 */
#menuAccordion .btn {
	width: 100%;
	height: 40px;
	font-size: 14px;
	font-weight: 500;
	color: #6C6C6C;
	text-align: left;
	line-height: 18px;
	letter-spacing: -1px;
	padding: 9px 16px; /* 20190910 수정 padding: 9px 20px; */
	background-color: transparent;
	border-radius: 0;
	border: 0;
}
#menuAccordion .btn i { 	font-size: 22px; margin-right: 8px; }
#menuAccordion .btn span { position: relative; top: -2px; }

#menuAccordion .btn:hover,
#menuAccordion .btn:focus,
#menuAccordion .btn.active { color: #ffffff; background-color: #4177A4; }

#menuAccordion .btn:hover span:after { color: #ffffff !important; }

#menuAccordion .btn span:after { float: right; font-family: "bigzami"; content: '\e803';  font-size: 20px; color: #FFFFFF; margin-top: 4px; }
#menuAccordion .btn.collapsed span:after { font-family: "bigzami"; content: '\e80d'; color: #6C6C6C; }

/* 왼쪽 메인 서브메뉴 */
#menuAccordion ul.navbar-nav { margin-left: 24px;  } /* 20190910 수정 margin-left: 30px; */
#menuAccordion ul.navbar-nav li { padding: 0 4px; }
#menuAccordion ul.navbar-nav li img { float: left; }
#menuAccordion ul.navbar-nav li a { display: block; font-size: 14px; color: #6C6C6C; padding: 1px 24px; letter-spacing: -1px; }
#menuAccordion ul.navbar-nav li a i { font-size: 20px; margin-right: 6px; }
#menuAccordion ul.navbar-nav li a:hover,
#menuAccordion ul.navbar-nav li a:focus,
#menuAccordion ul.navbar-nav li a.active { color: #4177A4; font-weight: 500; }


/* 도움말 페이지 왼쪽 메인 서브메뉴 */
.helpPage { background-color: #FFFFFF; }
/* .helpPage #contents { padding-top: 54px; } */
.helpPage #menuAccordion { padding-top: 28px; }
.helpPageContainer { width: 960px; margin: 50px auto 80px; }

/* .helpPage #menuAccordion .btn span:after { margin-top: 4px; } */
.helpPage #menuAccordion ul.navbar-nav li a { padding: 6px 24px; }


/* **************** 왼쪽 메인 축소 ******************** */
/* 사이즈변경 */
.area-left.sideMenuSm { max-width: 40px;  }

/* 클릭 후 아이콘 변경 */
.icon-double-arrow-right { margin-right: -7px; }

/* 아이콘 위치변경 */
#menuAccordion .btn.iconPosition { padding-left: 8px; }

/* 팝업메뉴 */
.toolTipMenu { position: relative; }
.toolTipMenu:hover .toolTipSubMenu { display:block; }

.toolTipSubMenu { display:none; position: absolute; top: 0; left: 22px; padding-left: 10px; background-color: transparent; border: 0; z-index: 100; }
.toolTipSubMenu .list-group { width: 130px; margin-left: 10px; border-radius: 4px; background-color: #242C35; box-shadow: 7px 8px 16px 0 rgba(30,30,30,0.35); }

.toolTipSubMenu .list-group-item.top:after {
    position: absolute;
	top: 11px;
    left: -8px;
    content: "";
    border-width: 8px 8px 8px 0;
    border-style: solid;  
    border-color:transparent #242C35 transparent transparent;
    z-index: 101;
}

.toolTipSubMenu .list-group-item { position: relative; letter-spacing: -1px; padding: 0; background-color: #242C35; border: 1px solid #676F74; }
.toolTipSubMenu .list-group-item.top { font-size: 12px; color: #FFFFFF; font-weight: 500; padding: 10px; background-color: #242C35; }
.toolTipSubMenu .list-group-item a { display: block; width: 100%; font-size: 10px; font-weight: 300; color: #ABABAB; padding: 2px 10px; }
.toolTipSubMenu .list-group-item a i { font-size: 14px; margin-right: 4px; }
.toolTipSubMenu .list-group-item a:hover,
.toolTipSubMenu .list-group-item a:focus,
.toolTipSubMenu .list-group-item a.active { color: #ffffff; font-weight: 500; background-color: #171F29; }



html {
	scrollbar-track-color: #ECECEC;
	scrollbar-face-color: #6C6C6C;
	scrollbar-arrow-color: #6C6C6C;
}

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ECECEC;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #6C6C6C;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


/* 20190910 추가 */
.menuLeftLine { position: relative; left: 4px; border-left: 1px solid #DBDBDB; }
.menuLeftLine img { position:absolute; left: -1px; }

/* 20200228 추가 */
.leftGridWrapper {
	height: 50vh !important; 
}
.leftGrid {
	width: 100% !important;
	height: 100% !important;
}
.rightGrid {
	width: 100% !important;
	height: 100% !important;
}

.rightGraph {
	width: 100% !important;
	height: 100% !important;
}

.each-checkbox {
	display: inline-block;
	width: 100px;
}

.tsm-row {
	height: calc((100vh - 150px)/2)
}

.mk-vertical-scroll {
	overflow-y: auto;
	overflow-x: hidden;
}

.grid-wrapper-tsm {
	display: inline;
}

/* carousel */
.carousel-indicators {
    bottom: -45px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FFFFFF;
}

.carousel-indicators .active{
    background-color: #0F4875;
}